*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.navbar{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw ;
  color: black;
  opacity: 0.8;
  border-bottom: 1px solid #888;

}
.logo{
  font-weight: 700;
  font-size: 2vw;
}
.nav_items{
  display: flex;
  gap: 3vw;
}
.nav_link{
  text-decoration: none;
  color: inherit;

}
.active_link{
  color:grey;
  border-bottom: 1px solid #888;
  font-weight: 500;
}

@media screen  and (max-width:768px) {
  .logo{
   font-size: 7vw; 
  }
  .nav_items{
    display: none;
  }
}